:root {
    /* 基础文本样式 */
    --text-color-light: #141414;
    --text-color-dark: #ffffff;
    /* 基础盒子样式 */
    --background-color-light: #ffffff;
    --background-color-dark: #141414;
    /* 导航栏样式 */
    --navbar-hover-color-light:#79bbff;
    --navbar-hover-color-dark:#eebe77;
}